<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <div class="ion-text-start">
          <ion-icon class="ion-padding-top" name="chevron-back-outline" style="font-size: 30px;  color: black;"
            [routerLink]="['/promotions']"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-center">
          <h3>
            Support
          </h3>
        </div>
      </ion-col>
      <ion-col size="2"></ion-col>
  
    </ion-row>
  </ion-toolbar>
</ion-header>



<ion-content>



  <p class="ion-padding">Our support team are always available to render support services where necessary</p>

  <ion-searchbar class="ion-padding" mode="ios"></ion-searchbar>

  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col size="3">
              <ion-img src="../assets/support/1.png"></ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img src="../assets/support/2.png"></ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img src="../assets/support/3.png"></ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img src="../assets/support/4.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <h2>New conversation</h2>
          <h6>Our team typically replies in less than 5min</h6>

          <div class="button ion-padding-top">
            <button [routerLink]="['/inbox']">New message</button>
          </div>


        </ion-card-content>
      </ion-card>

      <h4 class="ion-padding">
        Popular articles
      </h4>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding">

    <ion-col size="10">
      <div class="ion-text-start">
        <h5> Using Birnana</h5>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-end">
        <ion-icon name="chevron-forward-outline" style="font-size: 20px;  color: #A7A7A7;" class="ion-padding-top">
        </ion-icon>
      </div>
    </ion-col>



    <ion-col size="10">
      <div class="ion-text-start">
        <h5> Delivery was offline</h5>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-end">
        <ion-icon name="chevron-forward-outline" style="font-size: 20px;  color: #A7A7A7;" class="ion-padding-top">
        </ion-icon>
      </div>
    </ion-col>









    <ion-col size="10">
      <div class="ion-text-start">
        <h5> Wrong pickup details</h5>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-end">
        <ion-icon name="chevron-forward-outline" style="font-size: 20px;  color: #A7A7A7;" class="ion-padding-top">
        </ion-icon>
      </div>
    </ion-col>















    <ion-col size="10">
      <div class="ion-text-start">
        <h5> Payment issues</h5>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-end">
        <ion-icon name="chevron-forward-outline" style="font-size: 20px;  color: #A7A7A7;" class="ion-padding-top">
        </ion-icon>
      </div>
    </ion-col>
















    <ion-col size="10">
      <div class="ion-text-start">
        <h5>Other services</h5>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-end">
        <ion-icon name="chevron-forward-outline" style="font-size: 20px;  color: #A7A7A7;" class="ion-padding-top">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>


</ion-content>