<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <div class="ion-text-start">
          <ion-icon class="ion-padding-top" name="chevron-back-outline" style="font-size: 20px;  color: black;"
            [routerLink]="['/manuall-confirm-pickup']"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-center">
  
          <h3>
            Cancel the order
          </h3>
        </div>
      </ion-col>
  
    </ion-row>
  </ion-toolbar>
</ion-header>













<ion-content>

  


  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <div class="tips">
            <ion-img src="../assets/user/tips.png" style="width: 5%;" class="ion-padding-top"></ion-img>
            <h1>Tips</h1>
          </div>

        </ion-card-header>
        <ion-card-content>
          <h4>1.You can only cancel based on difference in delivery details</h4>
          <br />
          <h4>2. Your account will be suspended for one day if you cancel 5 orders in a day</h4>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>



  <ion-row class="ion-padding">
    <h2>Why do you want to cancel this order?</h2>

    <ion-col size="10">
      <div class="ion-text-start">
        <p>Pickup location was offline</p>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-padding-top ion-text-end">
        <ion-radio color="warning" mode="md"  id="trigger-button"></ion-radio>
      </div>
    </ion-col>



    <ion-col size="10">
      <div class="ion-text-start">
        <p>Information provided was wrong</p>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-padding-top ion-text-end">
        <ion-radio color="warning" mode="md"></ion-radio>
      </div>
    </ion-col>



    <ion-col size="10">
      <div class="ion-text-start">
        <p>Pickup customer was rude</p>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-padding-top ion-text-end">
        <ion-radio color="warning" mode="md"></ion-radio>
      </div>
    </ion-col>



    <ion-col size="10">
      <div class="ion-text-start">
        <p>I have mechanical issues</p>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-padding-top ion-text-end">
        <ion-radio color="warning" mode="md"></ion-radio>
      </div>
    </ion-col>

  </ion-row>

  <ion-row class="ion-padding-top">
    <ion-col size="12" class="ion-padding">
      <button [routerLink]="['/screen']">
        Confirm
      </button>
    </ion-col>
  </ion-row>


  <ion-modal trigger="trigger-button" style="width: 100%;height: 90vh;margin-top: 40%;">
    <ng-template>
      <ion-card class="cards">


        <ion-card-content>
          <div class="image" (click)="closeModal()">
            <ion-img src="../assets/user/1.gif" style="width: 50%;"></ion-img>
          </div>

          <h6>Cancelling pickup order</h6>

        </ion-card-content>
      </ion-card>

    </ng-template>
  </ion-modal>

</ion-content>