<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <div class="ion-text-start">
          <ion-icon #icon1 class="header-icon ion-padding" (click)="toggleMenu()" slot="start"
            src="assets/icon/menu.svg" style="margin-top: 9%;color:black;"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-center">
          <h3>
            About Birnana
          </h3>
        </div>
      </ion-col>
      <ion-col size="2"></ion-col>

    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>


  <p class="ion-padding">
    know more about Kaana, spend your time with us
  </p>

  <ion-row class="ion-padding">
    <ion-col size="10">
      <div class="ion-text-start">
        <h5> Rate app</h5>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-end">
        <ion-icon name="chevron-forward-outline" style="font-size: 20px;  color: #A7A7A7;" class="ion-padding-top">
        </ion-icon>
      </div>
    </ion-col>


    <ion-col size="10">
      <div class="ion-text-start">
        <h5>Birnana careers</h5>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-end">
        <ion-icon name="chevron-forward-outline" style="font-size: 20px;  color: #A7A7A7;" class="ion-padding-top">
        </ion-icon>
      </div>
    </ion-col>

    <ion-col size="10">
      <div class="ion-text-start">
        <h5>Legal</h5>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="ion-text-end">
        <ion-icon name="chevron-forward-outline" style="font-size: 20px;  color: #A7A7A7;" class="ion-padding-top">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-content>