h3 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #f1bd42;
}

p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #555b6a;
}

h5 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #555b6a;
}
