<ion-header>
  <ion-toolbar>
    <ion-buttons menu="main-menu" style="width: 10%;">
      <ion-menu-button style="color: #030919;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu menuId="main-menu" contentId="main">
  <ion-header style="background-color: #133040;">
    <ion-row>
      <ion-col size="3">
        <div class="ion-text-start">
          <ion-img src="../assets/user/1.png" style="width: 70%;" class="ion-padding-top"></ion-img>
        </div>
      </ion-col>
      <ion-col size="6">
        <p class="name">
          Agbama
        </p>
        <p class="profile" [routerLink]="['/personal-profile']"> View profile</p>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-end">
          <ion-icon (click)="openEnd()" name="close-circle" style="color: #F7F7F7;font-size:30px;" class="ion-padding-top"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>

  <ion-content class="try ion-padding-top">
    <ion-list id="main" lines="none" class="ion-padding-top">
      <ion-item>
        <ion-icon name="calculator-outline" style="font-size: 30px;color:#f7f7f7" [routerLink]="['/earning']"></ion-icon>
        <p class="menu" >Earnings</p>
      </ion-item>
      <ion-item >
        <ion-icon name="reader-outline" style="font-size: 30px;color:#f7f7f7" [routerLink]="['/order']"></ion-icon>
        <p class="menu">Orders</p>
      </ion-item>
      <ion-item >
        <ion-icon name="settings-outline" style="font-size: 30px;color:#f7f7f7" [routerLink]="['/promotions']"></ion-icon>
        <p class="menu">Promotions</p>
      </ion-item>
      <ion-item >
        <ion-icon name="people-outline" style="font-size: 30px;color:#f7f7f7" [routerLink]="['/support']"></ion-icon>
        <p class="menu">Support</p>
      </ion-item>
      <ion-item>
        <ion-icon name="information-circle-outline" style="font-size: 30px;color:#f7f7f7" [routerLink]="['/about']">
        </ion-icon>
        <p class="menu">About</p>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

