<ion-content>

  <h3 class="ion-padding-top">
    Well done!
  </h3>

  <p class="ion-padding">Thanks for the delivery. You,ve earned some cash for this delivery.Summary of delivery is
    detailed below. Would you
    like to continue?</p>

  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-content>
         
            <ion-row>
              <ion-col size="10">
                <div class="ion-text-start"><h5>Total</h5></div>
              </ion-col>

              <ion-col size="2">
                <div class="ion-text-end">
                  <h5>
                    N300
                  </h5>
                  </div>
              </ion-col>

            </ion-row>

            <ion-row style="border-bottom: 1px solid rgba(218, 218, 218, 0.39);" class="ion-padding-top">
              <ion-col size="10">
                <div class="ion-text-start"><h6>Product weight</h6></div>
              </ion-col>

              <ion-col size="2">
                <div class="ion-text-end">
                  <h6>
                    4kg
                  </h6>
                  </div>
              </ion-col>

            </ion-row>





            <ion-row style="border-bottom: 1px solid rgba(218, 218, 218, 0.39);" class="ion-padding-top">
              <ion-col size="10">
                <div class="ion-text-start"><h6>Your reward</h6></div>
              </ion-col>

              <ion-col size="2">
                <div class="ion-text-end">
                  <h6>
                    N300
                  </h6>
                  </div>
              </ion-col>

            </ion-row>




            <ion-row class="ion-padding-top">
              <ion-col size="6">
                <div class="ion-text-start"><h6>Payment method</h6></div>
              </ion-col>

              <ion-col size="6">
                <div class="ion-text-end">
                  <h6>
                    Pay on delivery
                  </h6>
                  </div>
              </ion-col>

            </ion-row>



       
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row class="ion-padding">
    <ion-col size="6">
      <button class="off" [routerLink]="['/home1']">Go Offline</button>
    </ion-col>
    <ion-col size="6">
      <button class="continue"  [routerLink]="['/screen']">Continue</button>
    </ion-col>
  </ion-row>


</ion-content>