
<ion-content>

  <app-sidemenu></app-sidemenu>

  <app-maps></app-maps>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>

          <ion-img src="../assets/user/map.png" style="width: 20%;margin-left: 40%;"></ion-img>

          <h3>Where are you?</h3>
          <p>Set your location so we can pair you with an order immediately</p>

        </ion-card-header>
        <ion-card-content>

          <ion-row>
            <ion-col size="12" class="ion-padding-top">
              <button class="btnn" [routerLink]="['/confirm-pickup']">Set Now</button>
            </ion-col>

            <ion-col size="12" class="ion-padding-top">
              <button class="btn" [routerLink]="['/pick-manually']">Pick manually</button>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>