<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <div class="ion-text-start">
          <ion-icon #icon1 class="header-icon ion-padding" (click)="toggleMenu()" slot="start"
            src="assets/icon/menu.svg" style="margin-top: 9%;color:black;"></ion-icon>

        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-center">
          <h3>
            Promotions
          </h3>
        </div>
      </ion-col>
      <ion-col size="2"></ion-col>

    </ion-row>
  </ion-toolbar>
</ion-header>





<ion-content>





  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <h4>Earn N5000 for commission by sharing refferal link</h4>
        </ion-card-header>
        <ion-card-content>
          <h5>Refferal code</h5>
          <ion-row>
            <ion-col size="8">
              <ion-input>
              </ion-input>
            </ion-col>
            <ion-col size="4">
              <button class="link">Copy link</button>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <div style="border: 1px solid #C9CCD3;
border-radius: 5px;">

    <div class="ion-padding" style="border-bottom: 1px solid #C9CCD3;">
      <h2>Rewards panel</h2>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <p>Refferal code</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <p>1/15</p>
          </div>
        </ion-col>
      </ion-row>


      <ion-progress-bar value="0.5" color="warning"></ion-progress-bar>
    </div>

    <div class="ion-padding">
      <h2>Birnana reward</h2>

      <h6>Receive reward when you take on 20 successful deliveries per day. <b style="color: #F1BD42;">Learn more</b>
      </h6>


    </div>



  </div>











</ion-content>