.name {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #f7f7f7;
}
.profile {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #f7f7f7;
}
.menu {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #f7f7f7;
    padding-left: 4%;
}
.try{

    --ion-background-color:#133040;
}
