<app-sidemenu></app-sidemenu>
<ion-content>



<app-maps></app-maps>

  <ion-row>
    <ion-col size="12">
      <ion-card>

        <ion-card-content>

          <ion-row>





            <ion-col size="8">
              <div class="ion-text-start">
                <p class="address">Delivery profile:</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="ion-text-end">
                <p class="km">1.2km</p>
              </div>
            </ion-col>


            <ion-col size="12">
              <div class="ion-text-start">

                <p class="name ion-padding">James Anderson</p>
              </div>
            </ion-col>





            <ion-col size="10">
              <ion-item lines="none">

                <ion-checkbox color="warning">


                </ion-checkbox>
                <p class="check">13th SDAT Cricket Ground</p>
              </ion-item>
            </ion-col>

            <ion-col size="2">
              <ion-icon name="call" style="background: #F1BD42;color: white;border-radius: 20px;font-size: 20px;">
              </ion-icon>
            </ion-col>

            <ion-col size="12" class="ion-padding">
              <div class="ion-text-start">
                Delivery Address
              </div>
            </ion-col>



            <ion-col size="6">
              <div class="ion-text-start">
                <p class="estimate">Estimated fare</p>
              </div>

            </ion-col>

            <ion-col size="6">
              <div class="ion-text-end">
                <p class="method">
                  Payment method
                </p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-start">
                <p class="num">N300</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-end">
                <p class="pay">
                  Pay on delivery
                </p>
              </div>
            </ion-col>
          </ion-row>


          <ion-row class="ion-padding">

            <ion-col size="12">
              <button class="arrived" [routerLink]="['/manual-order-reciept']">Arrived</button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>