h3 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #133040;
}
.image {
    display: flex;
    justify-content: center;
    margin-top: 50%;
}
ion-img {
    width: 50%;
}

h4 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #133040;
}
p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #555b6a;
}

.register {
    border: 1px solid #133040;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    background-color: transparent;
    color: #555b6a;
}

.login {
    background: #133040;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    color: white;
}
