<ion-content>


  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <h3>
          Birnana
        </h3>
      </div>
    </ion-col>
  </ion-row>


  <div class="image">
    <ion-img src="../assets/rider/map.png"></ion-img>
   
  </div>
  <ion-row>
    <ion-col>
      <div class="ion-text-center ion-padding" >
        <h4>Earn Quick Money</h4>
        <p> Earn money with us regularly as you take your time to deliver our products. </p>
      </div>
    </ion-col>

  
  </ion-row>



  <ion-row class="ion-padding">
    <ion-col size="6" class="ion-padding">
      <button class="register" [routerLink]="['/personal']">Register</button>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <button class="login">Login</button>
    </ion-col>
  </ion-row>



</ion-content>