<ion-content>


  <app-sidemenu></app-sidemenu>
  <app-maps></app-maps>
  



  <ion-row>
    <ion-col size="12">
      <ion-card>

        <ion-card-content>

          <ion-row>





            <ion-col size="8">
              <div class="ion-text-start">
                <p class="address">Pickup Profile</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="ion-text-end">
                <p class="km">3.2km</p>
              </div>
            </ion-col>


            <ion-col size="12">
              <div class="user">
                <ion-img src="../assets/user/1.png" style="width: 10%;">
                </ion-img>
                <p class="name ion-padding">Andre Krist</p>
              </div>
            </ion-col>





            <ion-col size="10">
              <ion-item lines="none">
                <ion-radio   mode="md" color="success">
                </ion-radio>
                <p class="check"> 3rd Ave road, Ikot Ansa</p>
              </ion-item>
            </ion-col>

            <ion-col size="2">
              <ion-icon name="call" style="background: #F1BD42;color: white;border-radius: 20px;font-size: 20px;">
              </ion-icon>
            </ion-col>

            <ion-col size="12" class="ion-padding">
              <div class="ion-text-start">
                Delivery Address
              </div>
            </ion-col>



            <ion-col size="6">
              <div class="ion-text-start">
                <p class="estimate">Estimated fare</p>
              </div>

            </ion-col>

            <ion-col size="6">
              <div class="ion-text-end">
                <p class="method">
                  Payment method
                </p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-start">
                <p class="num">N300</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-end">
                <p class="pay">
                  Pay on delivery
                </p>
              </div>
            </ion-col>
          </ion-row>


          <ion-row class="ion-padding">

            <ion-col size="12">
              <button class="arrived" [routerLink]="['/start-delivery']">Arrived</button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>